<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <%= beginning[id].name %> </h1>
    <img src="<%= beginning[id].img %>">
    <div class="alldata">
        <div>
            <ul>
                <h2>Types</h2>
                <%for (let i = 0; i < beginning[id].type.length; i++) { %>
                    <li><%= beginning[id].type[i] %>,</li>
                <% } %>
            </ul>
        </div>
        <div>
            <ul>
                <h2>Stats</h2>
                <li>Hp: <%= beginning[id].stats.hp %></li>
                <li>Attack: <%= beginning[id].stats.attack %></li>
                <li>Defense: <%= beginning[id].stats.defense %></li>
            </ul>
        </div>
    </div>
    
    <a href="/pokemon/<%=id%>/edit" ><button>Edit</button></a>
  

    <form action="/pokemon/<%=id%>?_method=DELETE" method="post">
        <input type="submit" value="DELETE">
        <a></a>
    </form>
    
</body>
</html>